*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    background-color: #F0F2F5;
    height: 100vh;
    position: relative;
}
#slider{
   
    padding-top: 50px;
    text-align: center;
}

#slider .img-face{
    
    width: 240px;
    
    
}

#login{
    position: absolute;
    background-color:#fff ;
    display: inline-block;
    width: 396px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

}

#login .text-heading{
    font-size: 18px;
    padding-top: 24px;
    padding-bottom: 16px;
}

#login .form{
    padding: 6px 0;
    
}

#login .form-email{
    padding-top: 10px;
}

#login .form .email{
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    font-size: 17px;
}

#login .button-login .login-button{
    width: 330px;
    background-color: #1877f2;
    border-radius: 6px;
    border: none;
    line-height: 48px;
    color: #fff;
    font-size: 20px;
    padding: 0 16px;
    font-weight: bold;
    
}

#login .button-login .login-button:hover{
   background-color: #166fe5; 
}

.button-login{
    padding-top: 6px;
}

.password {
    margin-top: 16px;
}

.password .Forgotten-password{
    text-decoration: none;
}

#login .vach{
    border-bottom: 1px dotted #dadde1;
    margin: 20px 16px;
}

#login .new-acc{
    padding-bottom:24px ;
}

#login .new-acc .new-account{
    line-height: 48px;
    font-size: 17px;
    width: 197px;
    border: none;
    border-radius: 6px;
    background-color: #42b72a;
    color: #fff;
    font-weight: bold;
}

#login .new-acc .new-account:hover{
    background-color: #36a420;
    border-color: #36a420;
}
    